.stock-garaje {
  margin-top: 20px;
}

.table-head {
  background: #6336bf;
  color: #fff;
}

.principal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  div {
    img {
      width: 100%;
      height: 100px;
      padding: 8px;
      background-image: url("../images/photo.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  p {
    width: 100%;
    text-align: center;
    padding: 5px;
  }
}

/* .items-container {
  th,
  td {
    background-color: green;
    text-align-last: center;
  }
} */
